
.dice {
    font-size: 10em;
    padding: 0.25em;
    color: #00ADB5;
    transform-origin: center;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.shaking {
    animation-name: wobble;
}

@keyframes wobble {
    0%, 100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(360deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(360deg) rotateY(360deg);
    }
    75% {
        transform: rotateX(0deg) rotateY(360deg);
    }
}
